body{
background-image: url(./images/brown.jpeg);
background-repeat: no-repeat;
background-size: cover;
height: 300vh;
margin: 0;
overflow: scroll;
}

.center{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.title{
    color: white;
    font-family:"Lucida Console", Fantasy, monospace;
    font-size: 60px;
    text-align: center;
    margin-bottom: 2vh;
    padding-top: 2%;
}

.sub-title{
    color: white;
    font-family:'Indie Flower', Fantasy;
    font-size: 50px;
    text-align: center;
}

.logo-container{
    width: 660px;
    height: auto;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.titleContainer {
    top: 0;
}

.logoContain{
    height: 76vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.mysta-word{
    font-size: 100px;
    position: absolute;
    font-family:Comic Sans MS, cursive;
    font-weight: bold;
    -webkit-text-fill-color:#C3552B;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    top: 70vh;
    left:6vw;
    
}

.shu-word{
    font-size: 100px;
    position: absolute;
    font-family:Comic Sans MS, cursive;
    font-weight: bold;
    -webkit-text-fill-color:#A660A7;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    top: 35vh;
    left: 40vh;
}

.luca-word{
    font-size: 100px;
    position: absolute;
    font-family:Comic Sans MS, cursive;
    font-weight: bold;
    -webkit-text-fill-color:#D4AF37;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    top: 20vh;
    left: 45%;
}

.vox-word{
    font-size: 100px;
    position: absolute;
    font-family:Comic Sans MS, cursive;
    font-weight: bold;
    -webkit-text-fill-color:#960018;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    top: 35vh;
    left: 70%;
}

.ike-word{
    font-size: 100px;
    position: absolute;
    font-family:Comic Sans MS, cursive;
    font-weight: bold;
    -webkit-text-fill-color:#348EC7;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    top: 70vh;
    left: 80%;
}

.set{
    font-family: cursive;
    font-size:40px;
    color: white;
    padding-left:35px;
}

.img-contain{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;
}

.mysta-img{
    width: 15vw;
    /* left:2vw; */
}

.shu-img{
    width: 15vw;
    /* left:20vw; */
}

.luca-img{
    width: 15vw;
    /* left:38vw; */
}

.vox-img{
    width: 15vw;
    /* left:60vw; */
}

.ike-img{
    width: 15vw;
}

.music{
    display:flex;
    color: white;
    font-family:"Lucida Console", Fantasy, monospace;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 60px;
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

.music-contain{
    
}

