@font-face {
    font-family: IndieFlower;
    src: url(./images/IndieFlower-Regular.ttf);
}


body{
    background-image: url(./images/yellow.png);
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0;
    overflow:hidden;
}

.mid{
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.title{
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 80px;
    font-family: Snell Roundhand, cursive;
    margin-top: 1%;
    margin-bottom: 0%;
}

.back{
    position: absolute;
    padding-left: 2vw;
    top:2vh;
    /* padding-top: 1vw; */
    transition: ease .1s;
}

.back:hover{
    transform:scale(1.2);
}

.set-up{
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 35px;
    font-family:Snell Roundhand, cursive;
    margin: 1%;
    font-weight: 100;
    margin-bottom: 2%;

}

.imgg{
    width: 10vw;
    
}

.lucaaa{
    width: 26vw;
}

.wordContain0{
    position: absolute;
    /* display: flex; */
    font-family:"IndieFlower";
    font-size: 64.5px;
    width: 30%;
    height: auto;
    top: 20%;
    text-align: right;
    left: 6%;
}

.wordContain1{
    position: absolute;
    /* display: flex; */
    font-family:"IndieFlower";
    font-size: 65.5px;
    width: 30%;
    height: auto;
    top: 25%;
    text-align: left;
    right: 6%;
}

.YTB{
    position: absolute;
    top: 62.5%;
    right: 12%;
    z-index: 10;
    height: auto;
    display: block;
    transition: ease.9s;
}

.YTB:hover{
    transform: scale(0.4);
}

.bird{
    position: absolute;
    top: 72.5%;
    right: 6.5%;
    z-index: 10;
    height: auto;
    display: block; 
    transition: ease.9s; 
}

.bird:hover{
    transform: scale(0.4);
}

